<html>

    <body>

            {% include 'nav.html' %}

            This is the admin page. The admin has all the privileges; the whole website is managed from this page.
            
            1. The admin can post or delete articles
            2. The admin can upload media



            <p class="d-inline-flex gap-1">
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Upload Media
                </a>
                <br>

            </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/app4a29GBUnVXWIBt/shrNNf46uCgAmIDCL?backgroundColor=yellow" frameborder="0" onmousewheel="" width="100%" height="959" style="background: transparent; border: 1px solid #ccc;"></iframe>
                </div>
              </div><p class="d-inline-flex gap-1">
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Upload Article
                </a>
                
            </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <iframe class="airtable-embed" src="https://airtable.com/embed/app4a29GBUnVXWIBt/shrY18zAJD51wRDwe?backgroundColor=yellow" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
                </div>
              </div>
            
            {% include 'footer.html' %}

    </body>




</html>
