
<!doctype>
<!-- 
    This is the page that contains each article in full
-->

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Article</title>   
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </head>
    <body>

        {% include 'nav.html' %}
       <!-- <div class='container mx-auto mt-5'>
            <h2 class='mx-auto mt-5'>{{blog['fields']['Title'].capitalize()}} </h2>
                <p>by {{blog['fields']['Writers'].capitalize()}} | {{blog['fields']['Date']}} </p>

            <div class='mt-4'>
                {% if blog['fields']['Photo'] %}
                <img src={{blog['fields']['Photo'][0]['thumbnails']['full']['url']}} class='img-thumbnail' height='50%'>
                {% else %}
                <img src='/static/bible.jpg' class='img-thumbnail object-fit-cover' height='50%'>
                {% endif %}
                <div class='mt-4'>
            {% for par in blog['fields']['Text'].split('\n') %}
                <p class='container'>{{par}}</p>
                
            {% endfor %}

            </div>
            </div>
        
        </div>-->

        <div class='container'>
                <iframe src={{blog['fields']['html']}}
                style="
              
                top: 0px;
                bottom: 0px;
                right: 0px;
                width: 100%;
                border: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                z-index: 999999;
                height: 100%;
              " allowfullscreen></iframe>

        </div>

        
        {% include 'footer.html' %}
    </body>


</html>
