<!doctype>
<!--
    This page lists all the available articles by their dates
-->

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HGRMSF Articles</title>   
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </head>
{% include 'nav.html' %}


        <div class='container pt-5 mx-auto '>

            <div class="card text-dark mx-auto border-light">
                <img src="static/hgrmsf_articles.jpg" class="card-img object-fit-cover" alt="..." width='100%' height='400'>
                <div class="card-img-overlay text-start text-wrap pt-5 d-none d-lg-block" style="width: 35rem;">
                  

                </div>
              </div>

            

            

            <div class='mt-4'>
              {% for blog in blogs %}
              
                    
                       <div class="card border-light">
                        <div class="row">
                          <div class="col-md-4">
                            {% if blog['fields']['Photo'] %}
                            <img src={{blog['fields']['Photo'][0]['thumbnails']['full']['url']}} class="img-fluid rounded-start object-fit-fill" height='5%' width='100%'>
                             
                            {% else %}
                            <img src='static/bible.jpg' class='img-thumbnail' height='50%'>
                            {% endif %}
                           
                          </div>
                          <div class="col-md-4">
                            <div class="card-body">
                              <h5 class="card-title">{{blog['fields']['Title']}}</h5>
                              <p class="card-text ">{{blog['fields']['Text'][:200]}}...</p>
                              <p class="card-text"><small class="text-body-secondary">{{blog['fields']['Writers']}}</small></p>
                              <a href="/articles/{{blog['fields']['ID']}}" class="btn btn-primary">Read more</a>
                            </div>
                          </div>
                        </div>
                      </div>
             
            {% endfor %}
                    </div>
        </div>


{% include 'footer.html' %}
</html>