  <div class="container-fluid">
    <div class="row">
      <img src="static/cloud.jpg" class="col-md-6" alt="...">
      <form class="col-md-6 row g-3">
        <!-- Add your form fields here -->
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Name</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name here">
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Phone number</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="+234...r">
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Email</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
      </form>
    </div>
  </div>