<html>
    <head>
        <title>Doctrine</title>
    </head>

    <body>

        {% include 'nav.html' %}

        <div class='container'>
             <p>The Fellowship shall avoid bigotry on the one hand and latitudinarianism on the
other. Believing that ‘all scripture is given by inspiration of God and is profitable
for doctrine, for reproof, for correction, for instruction in righteousness’ the
Fellowship shall teach all the Word from the beginning of Genesis to the end of
Revelation adding nothing to the Word and taking nothing from it. The King James
Version of the Bible shall be used as the most authentic translation of the original
Hebrew / Greek Bible. </p>


        <p>The Fellowship shall draw a clear distinction between nominal Christianity and
genuine Christianity and between fanaticism and true worship (John 4:20-24). The
Fellowship shall teach the importance of daily living an overcoming Christian life.
The entire scriptures shall be the only rule for standard of conduct, disciple and
government in the Fellowship and pattern of Christian work. Stated explicitly, the
doctrinal stand of the Fellowship shall be:</p>

            <ol>
            <li> God is the creator and supreme ruler of the whole universe; the Eternal One; the
Cause and the Source of everything that exists today; the Omnipotent, the
Omniscient and the Omnipresent One. (Gen 1.1-31; Isa 40.18-29)</li>
            <li> Nothing just happened, God created it all. (Gen 1.1-3; Jn 1.1-3; Heb 11.3)</li>
            <li> The Bible, the King of Books is the only source of inerrant truth about God and
man, about angels and devils, about sin and salvation, about heaven and hell. It is
the only book which contains the true revelation about the past, the present and the
future. (Isa 34.16; Jos 1.8) We believe in Divine Inspiration, the Infallibility,
Completeness and Supernatural Power and Authority of the Scriptures. (Ps 19.7-11;
II Tim 3.15-17; II Pet 1.20-21)</li>
            <li>The Godhead is a Trinity: The Father, The Son and the Holy Ghost. Each Person
of the Trinity has divine attributes e.g unrelated attributes of spirituality, infinity;
active attributes of omnipotence, omnipresence, omniscience and sovereignty;
moral attributes of holiness, righteousness, faithfulness, mercy, love, goodness (Jn 4.24, 1.1,14,18; Mat 1.18-23; Isa 9.6; Mat 3.13-17, 28.18-19; Acts 5.1-11;
I Cor 12.4-6; II Cor 13.14)</li>
            <li> Man is a tripartite being having spirit, soul and body (1Thess. 5.23) We believe
in the total depravity of the human race and God’s plan of redemption through the
cross and the blood of Jesus Christ for atonement (Gen 3.1-10; 6.5-7; Ps 51.5; 58.3;
Jer 17.9-10; Rom 3.9-19; 3.23; 5.8; 6.23; 10.9-10; Heb 4.12)</li>
            <li> Jesus Christ is the Son of God who came into the world to reveal God to man, to
redeem and relate man to God and to receive man to God. (Jn 1.11-18; 14.1-3)
Through the atonement of Christ whose blood was shed to cover man’s sin from
God’s sight, man is redeemed to God. Without Christ, no salvation. The death of
Christ is an atonement, a propitiation, a substitution, a redemption, a reconciliation.
(1 Cor 15.22; Rev 5.1-10; 2 Cor 5.17-21)</li>
            <li> Repentance, Restitution, Justification and New Birth are God’s ways of bringing
man back into a fulfilling relationship with Himself through Jesus Christ. (Ps 51.1-
12; Lk 19.1-10; Acts 3.19-20). Though salvation is offered free, it was bloodbought; man has the responsibility of receiving it.
 (Eph 2.8; Mk 1.14-15; Acts 3.19)</li>
            <li> Water Baptism is an outward testimony of an inward change (Acts 2.40-42;
8.35-39) Water Baptism is the testimony of a saved soul that he identifies with the
death and resurrection of Jesus Christ as being dead to the old life , and
resurrection to a new life in Jesus Christ. (Rom 6.3-5; Acts 8.35-39; 2.40-42)</li>
            <li> The Church is the Body of Christ on earth through which He expresses Himself
and carries on His redemptive work on earth. We believe in Christian’s
membership in a local church for fellowship, maturity and fulfillment of his holy
calling. As a member of the human body does not exist and live outside the body,
so is a Christian expected to be in the Body for his fulfillment as a Christian. (Mt
28.19; Acts 2.40-47; 1 Cor 12.12-27)</li>
            <li> D0ctrine is what produces stability in people’s lives. Doctrinal knowledge
supplies the need for an authoritative and systematic statement of truth; it is also
essential for the full development of the Christian character; it is a safeguard
against error. (Mt22.29; Acts 2.42; Rom 16.17-20; Jn 9.11)</li>
            <li> The Lord’s Supper or Holy Communion is for commemorating Christ’s death
till He comes. By partaking, the believer appreciates the death of Christ and His
shed blood for his atonement, he also anticipates His return as promised. ( 1 Cor
11.23-30; Jn 14.1-3; Acts 1.9-11)</li>
            <li> Sanctification is God’s will for us to become partakers of divine nature and
grow in Christlikeness. Sanctification is the setting apart of a blood-washed
believer for God’s sacred use. (2 Cor 6.14-18; 2 Tim 2.20-21;1 Thess 5.23-24)</li>
            <li> Tithes or dedication of our income, as well as giving offering to meet the needs
of the church family and ministry are of obligatory nature. (Mal 3.8-12; Mt 23.23;
Rom 2.22; 1 Cor 16.1-2; Gal 3.29; Isa 51.1-2) As true seed of Abraham, theChristian who robs God of tithes contradicts himself if he claims to be Abraham’s
seed by faith. (Gen 14.17-20; 28.20-22; Heb 7.1-12)</li>
            <li> We believe in divine healing and miracles by which life is made worth living,
without contradicting the faith of the Bible and the exemplary lifestyle of Christ.
(Mt 10.7-8; Js 5.14-16)</li>
            <li> We believe in prayer to do anything God can do. (Jn 14.14; Js 5.17-18)</li>
            <li> Christian Marriage is a biblical union of single believers( a male and a female)
coming together to become an inseparable one to fulfill God’s original purpose.
(Gen 1.27-28; 2.18-25; Mt 19.1-12; Lk 1.5-8)</li>
            <li> Holy Spirit is God’s way of living in us, working through us, as he lived and
worked through Jesus when on earth. (Lk 3.21-22; 4.1,14,18-19; 10.21-22; Lk
24.49; Acts 1.8) It takes a spirit-baptized believer to enjoy all the benefits of the
Holy Spirit: His power, gifts, anointing, etc (Acts 19.1-7; 1 Cor 12.7-11; Jn 14.16-
18; 16.12-14)</li>
            <li> The Great Commission is God’s way of reaching every creature among all
nations, in all the world , with the gospel of salvation and of the kingdom. ( Mt
24.14; Lk 24.45-48) The Great Commission is fulfilled by evangelism, discipleship,
church planting and mission.</li>
            <li>The Leadership of the church is through God-ordained men who have the
special mandate to perfect saints, edify the Body, to equip and commission believers for ministry and missions; as well as administer discipline to the erring.
( Eph 4.11-14; 1 Cor 5.1-13; Acts 5.1-11; Acts. 20.22-23)</li>
            <li> We believe in Civil government, that the powers that be are ordained of God as
ministers of God to men for their good and terror to evil doers. ( Rom 13.1-7; 1 Pet
2.13-30) True Christians respect government as God’s institution and treats it so.</li>
            <li> We believe in the Afterlife, that death is not the end, but a transition. (2 Sam
12.15-23; Job 19.25-27) Heaven and Hell are real places, the eternal destinies of
saints and sinners respectively. (Ps 9.17; Mt 5,28-30; Lk 16.19-31; Rev 21.1-8)</li>
            <li> we believe in Eschatological doctrine: the rapture of Saints, judgment seat of
seat of Christ, marriage supper of the Lamb; also the Great Tribulation, the White
Throne Judgment; the Lake of Fire as the final destiny of sinners; the New Heaven
and New Earth wherein dwelleth reighteousness (1 Thess 4.16-17; Rev 1.7; 4.1-5;
6.1-18; 19.1-21; 20.1-22)</li>
            <li> We believe in God’s plan for man to be centered on the three major classes in
the spiritual world.
-The Jews
-The Gentiles
-The Church(1 Cor 10.32; Col 2.13-17)</li>
            <li> We believe Man’s freewill as a free moral agent who can choose to do good or
evil, who can use his will power to do good or evil, who can use his will power to
do God’s will or Satan’s will or selfwill. ( Jn 7.16-17; Dt 30.15-19)</li>
                <ol>
        </div>

        {% include 'footer.html' %}
    </body>


</html>