    <!DOCTYPE html>


    <html>
        <head>
            
        </head>

        <body>

            {%include 'nav.html'%}

            <section>
                <div>
                    <header>
                        <h1>Welcome to HGRMSF</h1>
                    </header>
                    <div>
                        <p>The official website of Holy Ghost Revival Mission Student Fellowship, Obafemi Awolowo University
                            Chapter
                        </p>
                        <ul>
                            <li><a>Read Up</a></li>
                        </ul>
                    </div>
                </div>
            </section>

            <section>

                <div>
                    <header>
                        <h1>About us</h1>
                    </header>

                    <p>
                        Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. 
                        Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. 
                        In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. 
                        Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. 
                        Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.
                    </p>
    
                </div>
            </section>




            <section>

                <div>
                    <header>
                        <h1>Testimonies</h1>
                    </header>

                    <p>
                        Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. 
                        Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. 
                        In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. 
                        Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. 
                        Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.
                    </p>
    
                </div>
            </section>



        

            	
                   <!-- {%include 'contact.html'%} -->

           
                    {% include 'footer.html' %}

        </body>
</html>