    <!doctype html>


    <html lang='en'>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>HGRMSF Home Page</title>   
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        </head>

        <body>

            {%include 'nav.html'%}
            <div class="card text-bg-dark border-light shadow">
              <img src="static/wide.jpg" class="card-img" alt="...">
              <div class="card-img-overlay">
                <h1 class="card-title text-center position-absolute top-50 start-50 translate-middle">
                  <p style="font-size:20px"> Welcome to </p>
                  
                  <p style='font-size:70px' style='font-family:"Perpetua"'>Holy Ghost Revival Mission Student Fellowship</p>

                  <p style="font-style:17px"><em>...the family of love</em></p>
                </h1>
                
                
                <div class="position-absolute top-0 start-50 translate-middle"></div>
                <div class="position-absolute top-50 start-0 translate-middle"></div>
                <div class="position-absolute top-50 start-50 translate-middle"></div>
                <div class="position-absolute top-50 start-100 translate-middle"></div>
                <div class="position-absolute top-100 start-0 translate-middle"></div>
                <div class="position-absolute top-100 start-50 translate-middle"></div>
                <div class="position-absolute top-100 start-100 translate-middle"></div>
                
              </div>
            </div>
            <hr>
           
                      
                  
                    
                      <div class='container'>

                        <article><em>The official website of Holy Ghost Revival Mission Student Fellowship, Obafemi Awolowo University
                            Chapter
                        </em>
                        <article>
                           <em> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lobortis, quam in tincidunt eleifend, ligula velit varius dolor, eu volutpat tellus justo non arcu. Fusce diam lorem, gravida ac cursus eget, molestie sit amet risus. Nullam blandit enim tellus, at bibendum magna ullamcorper vel. Nunc sagittis quis leo id interdum. Phasellus lectus diam, pretium vitae dolor a, dapibus scelerisque mauris. Ut ac accumsan nunc. Maecenas a lectus a metus ullamcorper placerat vitae aliquam ipsum. Curabitur tempus lorem eu purus consectetur imperdiet.

Aliquam malesuada, lorem ac lacinia dignissim, dui lectus efficitur ligula, sit amet tristique ligula arcu sit amet mi. Pellentesque egestas egestas arcu id sollicitudin. Curabitur dignissim purus nec neque ornare, at aliquet dolor gravida. Cras faucibus lectus leo, vel eleifend quam fermentum quis. Duis ornare, turpis sed scelerisque dictum, diam libero convallis odio, vitae sodales magna quam ac dolor. Maecenas interdum, tellus non pellentesque scelerisque, elit quam congue neque, at varius ex ligula ultricies lorem. Etiam aliquet sapien lectus, id convallis erat convallis nec. In et posuere enim, id vestibulum ligula.

 Morbi scelerisque nisi in bibendum molestie. Ut facilisis risus id orci facilisis, vitae tristique elit posuere. Mauris volutpat urna nec blandit convallis. Suspendisse luctus enim vitae suscipit cursus. Proin sit amet volutpat diam, vitae dapibus dolor. Aenean congue nisi at enim pulvinar, in vestibulum sapien pretium. Donec nec rhoncus ex. Phasellus mollis dignissim neque, ut finibus turpis posuere id. Mauris bibendum fringilla nunc, ac luctus sapien tincidunt eget.
                           </em>
                          </article>
                        
                    
                      
                    </div>
                </div>
  
            
            

            <section>
                
                <div class='container pt-5 mb-3 mx-auto '>
                    
                    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src='static/img_1.jpg' width='100%' height='400' class='object-fit-cover'>
                          </div>
                          <div class="carousel-item">
                            <img src='static/bible.jpg' width='100%' height='400' class='object-fit-cover'>
                          </div>
                          <div class="carousel-item">
                            <img src='static/img_3.jpg' width='100%' height='400' class='object-fit-cover'>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                    
            </section>
           

   

            
           
            
                


                <div class="card text-bg-dark border-light shadow">
                  <img src="static/wide grey.jpg" class="card-img" alt="...">
                  <div class="card-img-overlay">
                    <h1 class="card-title text-center position-absolute top-50 start-50 translate-middle">
                      <p style="font-size:30px">   The Fellowship shall avoid bigotry on the one hand and latitudinarianism on the
                        other. Believing that ‘all scripture is given by inspiration of God and is profitable
                        for doctrine, for reproof, for correction, for instruction in righteousness’ the
                        Fellowship shall teach all the Word from the beginning of Genesis to the end of
                        Revelation adding nothing to the Word and taking nothing from it.
                      </p>
                      <a href="/doctrine" class="btn btn-primary">Read more</a>
                      
                    </h1>
                    
                    
                    <div class="position-absolute top-0 start-50 translate-middle"></div>
                    <div class="position-absolute top-50 start-0 translate-middle"></div>
                    <div class="position-absolute top-50 start-50 translate-middle"></div>
                    <div class="position-absolute top-50 start-100 translate-middle"></div>
                    <div class="position-absolute top-100 start-0 translate-middle"></div>
                    <div class="position-absolute top-100 start-50 translate-middle"></div>
                    <div class="position-absolute top-100 start-100 translate-middle"></div>
                    
                  </div>
                </div>

                <div class="card container mx-auto border-light">
                
                      </div>
                    
                    <div class='container'>
              </div>

              <div class="card container mx-auto border-light">
                <div class="card-body">
                  <h3 class="card-title">Our Vision</h3>
                  <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
                  <section>

                    <div class='container'>

    
                        <p>
                            Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. 
                            Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. 
                            In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. 
                            Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. 
                            Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.
                        </p>
        
                    </div>
                </section>
                </div>
                <img src="static/joe_in_foregroun d.jpg" class="card-img-bottom" height='40%' alt="...">
              </div>

              <div class="card container mx-auto border-light">
                <div class="card-body">
                  <h3 class="card-title">Our Mission</h3>
                  <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
                  <section>

                    <div class='container'>

    
                        <p>
                            Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. 
                            Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. 
                            In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. 
                            Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. 
                            Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.
                        </p>
        
                    </div>
                </section>
                </div>
                <img src="static/img_6.jpg" class="card-img-bottom" height='40%' alt="...">
                {% include 'contact.html' %}
              </div>
              

           




            <!-- {% include 'testimonies.html' %} -->
            	
                  

           <br>
           <section>
            <hr>
           
            {% include 'footer.html' %}
           </section>
        </body>
</html 