 <nav class='navbar bg-body-tertiary container-fluid sticky-top 
 border-bottom border-body data-bs-theme="light"'
 style="background-color: #FC431F;">
    
        <a class='navbar-brand' href=#>
            <img src='static/logo_2.png' alt='HGRMSF logo'
            width='60' height='24' class='d-inline-block align-text-top'>
           <b>HGRMSF </b>
        </a>
   
    


<ul class="nav container justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Media</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Photos</a></li>
        <li><a class="dropdown-item" href="#">Videos</a></li>
        <li><a class="dropdown-item" href="#">Audio</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Something else</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Testimonies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="false">Articles</a>
    </li>
  </ul>
</nav> 





