<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Staff Advisers</title>   
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </head>

    <body>
        {% include 'nav.html' %}
        <center><h1>MEET OUR STAFF ADVISERS</h1></center>

        <div class='container'>

        <!--staff adviser 1-->
        <div class="card mb-3" >
            <div class="row g-0">
              <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Prof. K O Fayokun</h5>
                  <p class="card-text">Professor of Business Law, Faculty of Law, OAU</p>
                  <p class="card-text"><small class="text-body-secondary">kofayokun@oauife.edu.ng</small></p>
                  <p class="card-text"><small class="text-body-secondary">+2348166966009</small></p>
                </div>
              </div>
            </div>
          </div>

          <!--staff adviser 2-->
          <div class="card mb-3" >
            <div class="row g-0">
              <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Mr A Alao
                  </h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>

        </div>
        {% include 'footer.html' %}
    </body>


</html>
